# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Node.js
node_modules/
npm-debug.log
.DS_Store

# Environment files
.env
*.env

# Jenkins / Local
.jenkins/